*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.cabeçalho{
    background-image: url("ceu\ estrelado.png");
    width: 100%;
    height: 40%;
    position: absolute;
    padding: none;
    margin: 0%;
    left: 0%;
    top: 0%;
}

.barra_de_pesquisa{
    position: absolute;
width: 30%;
height: 8%;
left: 35%;
top: 15%;
padding: 0%;


background: #ffffff;
border: 5px solid #FF0000;
border-radius: 50px;
}
.botao_1{
position: absolute;
width: 33.8%;
height: 10%;
left: 0%;
top: 40%;
border: 1px rgb(0, 140, 255) ;
background: rgb(0, 140, 255);
}
.botao_1 h1{
    margin: 1.7% ;
    font-size: 300%;
    color: rgb(0, 0, 0);
   
    
}
.botao_2{
position:absolute;
width: 33.5%;
height: 10%;
left: 33.3%;
top: 40%;
border: yellow;


background-color: yellow;}
.botao_2 h1{
    margin: 1.7% ;
    font-size: 300%;
    color: rgb(0, 0, 0);
   
    
}
.botao_3{
position: absolute;
width: 33.5%;
height: 10%;
left: 66.7%;
top: 40%;
border: red;

background-color: red;



}
.botao_3 h1{
    margin: 1.7% ;
    font-size: 300%;
    color: rgb(0, 0, 0);
   
    
}

.conteiner6 {
    width: 100%;
    height:30%;
    top: 46.1%;
    position: absolute;
    left: 0%;
    padding: none;
}

.slider li {
    list-style: none;
   
}

.slider img {
    margin: 0%;
    height: 100%;
    width: 100%;
    vertical-align:top;
    
}
.slider input {
    display: none;}
   
.slider label {
    background-color: rgb(255, 0, 0);
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
    position: absolute;
}

.slider li:nth-child(2) label {
    left: 40px;
    position: absolute;
}

.slider li:nth-child(3) label {
    left: 70px;}
    .slider img {
        opacity: 0;
        visibility: hidden;
    }
    
    .slider li input:checked ~ img {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }


.conteiner0{
    margin-top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
}


.caixa_7{
    /* display: flex; */
    background-image: url("o\ melhor\ do\ mundo\ gamer.png");
    width: 100%;
    height: 60px;
    margin-top: 65%;
    padding: 0%;
    left: -3%;
}

.caixa_21{
    display: flex;
    gap: 5px;
    background-color: white;
    width: 60%;
    height: 20vh;
 
}
    

body{
    background-image: url("fundo\ do\ corpo.png");
    width: 100%;
    height: 100%;
       margin: 0%;
    left: 0%;
    top: 0%;
}
.caixaGeral{
    position: absolute;

    display: grid;
    grid-template-columns: repeat(4,2fr);
    width: 100%;
    height: 100%;
    
    padding: 80px;
} 
    
  